	#content {
		
	}
	body {
		background:url(../images/top.png) top no-repeat;
	}
	#content .container {
	}
	#header { 
		margin:0 0 30px;
	}
	#logo {
		position:absolute;
		left:0;
		right:0;
		text-align:center;
	}
	.menusearch {
		width:251px;
		position:relative;
		float:left;
		margin-top:34px;
	}
	/*------------------------------ MENU ------------------------------*/
	#secondarymenu-container {
		height:98px;
		position:relative;
		z-index:11;
	}
	
	
	#secondarymenu {
		float:right;
		height:98px;
	}
	#secondarymenu a {
		padding:0 15px;
		height:98px;
		color:#010c31;
		font-size:14px;
		font-family:'opensansregular';
		background:url(../images/secmenu-a.png) left no-repeat;
		line-height:98px;
	}
	#secondarymenu li:first-child a{
		background:none;
	}
	#secondarymenu a:hover{
		color:#00459a;
		text-decoration:underline;
	}
	#header-block {
		position:relative;
	}
	
	#mainmenu-container {
		height:54px;
		background:#010c32;
		border-top:4px solid #73c600;
		z-index:18;
	}
	#mainmenu li a {
		padding:0 20px;
		font-size:18px;
		color:#73c600;
		font-family:'opensanslight';
		height:54px;
		line-height:54px;
		border-left:1px solid #1b2547;
	}
	#mainmenu li:first-child a { 
		border-left:none;
	}
	#mainmenu li {
		position:relative;
	}
	#mainmenu li a:hover{
		color:#2185ff;
	}


	#header li ul {	top:62px; }
	#header #mainmenu li ul { top:54px; }
	
	#header li ul .transparent {	}
	#header li ul .inner { 
		padding:0 !important;
		border-top:4px solid #73c600;
		background:#010c31;
	}
	#header #mainmenu li ul .transparent {	}
	#header #mainmenu li ul .inner {	}
	
	#header ul.children li, #header .sub-menu li { height:auto !important; border-bottom:1px solid #273051; }
	
	#header #mainmenu .sub-menu > .inner  > li:last-child, #header .sub-menu > .inner  > li:last-child  {
		border:none; 
	}
	#header ul.children li a, #header .sub-menu li a {
		color:#fff; 
		height:auto !important;
		padding:5px 20px;
		text-align:left;
		background:none !important;
		border:none !Important; 
	}
	#header ul.children li a:hover, #header .sub-menu li a:hover {
		color:#73c600 !important;
		text-decoration:none;
	}
	
	#header #mainmenu ul.children li a, #header #mainmenu .sub-menu li a {}
	#header #mainmenu ul.children li a:hover, #header #mainmenu .sub-menu li a:hover {		
		color:#df191b;
	}
	#footer .footer-widgets  { padding-left:1%; }
	#footer .footer-widgets .widgetf { width:33.33% }
	
	/*------------------------------ SLIDER ------------------------------*/
	.slider-container {	
		width:1000px;
		height:532px;
		margin:0 auto;
		position:relative;
	}
	.slider {		
	}
	.fp-next, .fp-prev {
		margin:0 -17px;
		width:44px;
		height:390px;
	}
	.fp-title a{
		font-size:40px;
		color:#73c600;
		font-family:'opensanssemibold';
		text-decoration:none;
	}
	
	.fp-prev-next-wrap {
		margin:0 0px;
	}
	.slider-nothumb .fp-slides, .slider-nothumb .fp-thumbnail, .slider-nothumb .fp-slides-items {
		height:188px;
	}
	.fp-slides,.fp-thumbnail,.fp-slides-items  {
		width:1000px;
		height:532px;
	}
	.fp-content-fon {
		border:none;
		width:1000px;
		height:532px;
		right:0;
		top:0;
		left:0;
		bottom:0;
		background:url(../images/fp-fon.png) no-repeat;
		-moz-opacity: 1;
		opacity: 1;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=100);
	}
	.fp-content { 
		left:0;
		right:550px;
		height:140px;
		bottom:0;
		text-align:left;
	}
	.fp-content p { 
		color:#fff;
		font-size:17px;
		font-family:'opensanslight';
	}
	.fp-more { 
		color:#fff !important;
		text-transform:lowercase;
	}
	.fp-nav {
		left:24px;
		top:43px;
		bottom:auto;
		right:auto;
		width:24px;
	}
	.slider-nothumb .fp-content-fon {
		background:#fff;
	}
	.slider-nothumb .fp-content a,.slider-nothumb .fp-content p{
		color:#000;
	}
	.fp-pager a { 
		width:24px;
		height:24px;
		float:left;
		margin:0 0 6px;
	}
	#footer .footer_txt  {
		margin:0 auto;
		padding-left:0;
		padding:20px 0;
	}
	#footer .footer_txt .container { padding-left:20px; }
	