Theme URI: 
Description: Child Theme for Sliding Door
Author: Your name!
Author URI: 
Template: sliding-door
Version: 0.1
*/
 
@import url("../sliding-door/style.css");
@import url("../sliding-door/dark.css");
@import url("../sliding-door/light.css");
@import url("../sliding-door/imagemenu/imageMenu.css");

/* Place new css code below here */